---
import MarcasSection from "@/components/sections/index/MarcasSection.astro";
import CategoriasLatte from "@/components/sections/index/CategoriasLatte.astro";
import StatsLatte from "@/components/sections/index/StatsLatte.astro";
import Caracteristicas from "@/components/sections/index/TitleAccordion.astro";
import Redes from "@/components/sections/index/Redes.astro";
import AnnounceBanner from "@/components/ui/banner/AnnounceBanner.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/index/HeroSection.astro";
import BeneficiosLatte from "@/components/sections/index/BeneficiosLatte.astro";
import mockupDos from "@/images/index/mockup2.png";
import redes from "@/images/index/mockupredes.png";
import { caracteristicas } from "@/data/Accordions";
import { preguntasFrecuentes } from "@/data/Accordions";
import alfajorImage from "@/images/index/alfajorImage.png";
import Divider from "@/components/ui/utils/Divider.astro";
import presentationImg from "@/images/index/presentation1.png";
import HeroSectionAlt from "@/components/ui/banner/HeroSectionAlt.astro";
---

<MainLayout title="Inicio | Latte chocolate">
  <AnnounceBanner
    btnId="dismiss-button"
    btnTitle="Explorá nuestros productos"
    url="/productos"
  />

  <!-- HERO -->
  <HeroSection
    title=`El chocolate que <span
    class="text-violet-500">habla por vos</span>`
    subTitle="Diseñados para expresar tus sentimientos de la manera mas original."
    primaryBtn="Ver productos"
    primaryBtnURL="/productos"
    src={presentationImg}
    alt="Variedad de chocolates personalizados de Latte Chocolate"
  />
  <Divider />
  <MarcasSection
    title="Confianza de comercios"
    subTitle="Un producto revelador que"
  />
  <Divider />
  <Caracteristicas
    title="Una frase para cada momento"
    subTitle="En Latte, respondemos a una necesidad única en el sector de los chocolates y dulces, creando momentos únicos."
    caracteristicas={caracteristicas}
  />
  <Divider />
  <BeneficiosLatte
    title="¿Por qué destacamos?"
    src={mockupDos}
    alt="Imagen de mockup de cajas de chocolates latte"
  />
  <CategoriasLatte
    title="Nuestro segmento de categorías"
    subtitle="Si queres adquirir este tipo de segmentos enteros entra al protal comercio y crea o accede a tu cuenta."
    btnTitle="Crear mi cuenta"
    btnUrl="/register"
    img2={alfajorImage}
    alt2="imagen alfajor de la fortuna de latte chocolate"
  />
  <Divider />
  <StatsLatte
    title="Las mejores devoluciones del publico"
    subtitle="Nuestro producto es muy bien recibido por cada uno de nuestra red de revendedores, es un producto que realmente conviene."
  />
  <Caracteristicas
    title="Preguntas frecuentes"
    subTitle="En Latte, respondemos a una necesidad única en el sector de los chocolates y dulces, creando momentos únicos."
    caracteristicas={preguntasFrecuentes}
  />
  <Redes
    src={redes}
    alt="Imagen mockup sobre las redes sociales de latte chocolate"
  />

  <HeroSectionAlt
    title="¡No dudes más! comenzá a vender Latte en tu comercio"
    subTitle="Registrate para tener descuentos y vender un producto super original"
    url="https://api.whatsapp.com/send?phone=542216019722&text=hola!%20mi%20nombre%20es..."
  />
</MainLayout>
